<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>¡Atención!</h4>
  La opción de eliminar libros no está implementada.
  El libro <%= libro.get('idLibro') %>-<%= libro.get('titulo') %> no se borrará.
</div>