<tr>
	<td style="text-align: right;"><%= idLibro %></td>
	<td><%= titulo %></td>
	<td><%= autor %></td>
	<td style="text-align: center;">
		<a class="btn btn-mini editar" id="editar_<%=idLibro%>" href="#editarLibro"><i class="icon-edit"></i> Editar</a>
	</td>
	<td style="text-align: center;">
		<a class="btn btn-mini eliminar" id="eliminar_<%=idLibro%>" href="#eliminarLibro"><i class="icon-trash"></i> Eliminar</a>
	</td>
</tr>