<div class="page-header">
	<h1>Ejercicio web</h1>
</div>
<p>Esta aplicación web es el punto de partida para la realización de un ejercicio con el tú podrás tener una
idea clara de lo que será tú trabajo y nosotros podremos saber si dispones de los conocimientos suficientes.
</p>
